/* #LAYOUT - CONTAINER
		1. Container default
    2. Container sizes
    3. Container responsive
*/

// 1. Container default
.l-container {
  margin: 0 auto;
}

// 2. Container sizes
.l-container--md {
  max-width: $PX_1310;
}
.l-container--sm {
  max-width: $PX_890;
}

// 3. Container responsive
@media screen and (max-width: $PX_990) {
}
