/* #COMPONENTS - MODAL BACKDROP
		1. Modal backdrop default
*/

// 1. Modal backdrop default
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $BLACK_RGBA;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 3;
}
