/* #SETTINGS - COLORS
		1. Default colors
*/

// 1. Default colors
$TRANSPARENT: transparent;
$WHITE: #ffffff;
$BLACK: #1a1a1a;

$BLACK_RGBA: rgba(0, 0, 0, 0.33);
$BLACK_RGBA_DARK: rgba(18, 18, 18, 0.64);
$BLACK_RGBA_LIGHT: rgba(0, 0, 0, 0.08);

$GREY: #666666;
$LIGHT_GREY: #eef1f0;
$INVEST_BG: #f6f6f6;
$GREY_PLACEHOLDER: #b6beb5;
$GREY_TABLE_BORDER: rgba(208, 217, 207, 0.2);
$GREY_TABLE_HEADER_BORDER: #d0d9cf;

$GREEN: #70d692;
$LIGHT_GREEN: #acecd2;
$DARK_GREEN: #005e46;

$RED: #e77673;
